.visualoption ul {
    overflow: hidden;
    padding-left: 0;
}

.visualoption li {
    float: left;
    list-style: none;
}

.visualoption li input {
    display: none;
}

.visualoption li label {
    cursor: pointer;
    display: block;
    margin: 10px 10px 10px 10px;
    outline: 1px solid #fff;
    border: 1px solid #000;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
}

.visualoption li input:checked + label {
    outline: 5px solid #5589A7;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visualoption li input:checked + label:after {
    position: relative;
    line-height: 100px;
    text-align: center;
    content:"\2714";
    font-size: 25px;
    color: #5589A7;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    -webkit-font-smoothing: antialiased;
}
